<a href="https://colab.research.google.com/github/nitish-raj/Price-Predictions-ML/blob/master/Ethereum_Price_prediction_LR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Description : Predict the price of ETH

In [2]:
# Import the dependencies
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas_datareader as web

In [4]:
# Get the stock quote
df = web.DataReader(
    "ETH-USD", data_source="yahoo", start="2012-01-01", end="2021-05-15"
)

# Show data
df

                   High          Low  ...        Volume    Adj Close
Date                                  ...
2015-08-06     3.536610     2.521120  ...  1.643290e+05     2.772120
2015-08-07     2.798810     0.714725  ...  6.741880e+05     0.753325
2015-08-08     0.879810     0.629191  ...  5.321700e+05     0.701897
2015-08-09     0.729854     0.636546  ...  4.052830e+05     0.708448
2015-08-10     1.131410     0.663235  ...  1.463100e+06     1.067860
...                 ...          ...  ...           ...          ...
2021-05-10  4178.208984  3783.889404  ...  5.267974e+10  4168.701172
2021-05-11  4362.350586  3785.848633  ...  6.902338e+10  3785.848633
2021-05-12  4032.563477  3549.407227  ...  7.839821e+10  3715.148438
2021-05-13  4171.017090  3703.399902  ...  4.817427e+10  4079.057373
2021-05-15  4129.185547  3710.246338  ...  4.266676e+10  3745.686523

[2105 rows x 6 columns]

In [5]:
# Create a varible for predicting 'n; days out into future
projection = 14
# Create a new column called Prediction
df["Prediction"] = df[["Close"]].shift(-projection)
# Show the dataset
df

                   High          Low  ...    Adj Close  Prediction
Date                                  ...
2015-08-06     3.536610     2.521120  ...     2.772120     1.39529
2015-08-07     2.798810     0.714725  ...     0.753325     1.37923
2015-08-08     0.879810     0.629191  ...     0.701897     1.35259
2015-08-09     0.729854     0.636546  ...     0.708448     1.23127
2015-08-10     1.131410     0.663235  ...     1.067860     1.14019
...                 ...          ...  ...          ...         ...
2021-05-10  4178.208984  3783.889404  ...  4168.701172         NaN
2021-05-11  4362.350586  3785.848633  ...  3785.848633         NaN
2021-05-12  4032.563477  3549.407227  ...  3715.148438         NaN
2021-05-13  4171.017090  3703.399902  ...  4079.057373         NaN
2021-05-15  4129.185547  3710.246338  ...  3745.686523         NaN

[2105 rows x 7 columns]

In [6]:
# Createthe independent data set (X)
X = np.array(df[["Close"]])
# Remove the last 14 rows
X = X[:-projection]
print(X)

[[2.77212000e+00]
 [7.53324986e-01]
 [7.01897025e-01]
 ...
 [2.75687695e+03]
 [2.77320703e+03]
 [2.94589282e+03]]

In [8]:
# Create the dependent data set 9y)
y = df["Prediction"].values
y = y[:-projection]
print(y)

[1.39529002e+00 1.37923002e+00 1.35258996e+00 ... 3.71514844e+03
 4.07905737e+03 3.74568652e+03]

In [9]:
# Split the data into 85% traiing and 15% testing data
X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [14]:
# Create and train the model
linReg = LinearRegression()
# Train the model
linReg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
linReg_confidence = linReg.score(x_test, y_test)
print("Linear regression confidence:", linReg_confidence)

Linear regression confidence: 0.9100504418766384

In [19]:
# Create a variable called x_projection and set it equal o the last 14 days of data from the original dataset
x_projection = np.array(df[["Close"]])[-projection:]
x_projection

array([[2952.05615234],
       [3431.08618164],
       [3253.62939453],
       [3522.78320312],
       [3490.88037109],
       [3484.72900391],
       [3902.64770508],
       [3928.84472656],
       [3952.29394531],
       [4168.70117188],
       [3785.84863281],
       [3715.1484375 ],
       [4079.05737305],
       [3745.68652344]])

In [20]:
# Print the linear regression model prediction for next 14 days
linReg_prediction = linReg.predict(x_projection)
print(linReg_prediction)

[3403.16514648 3959.31060476 3753.28638883 4065.76923766 4028.73060948
 4021.58898012 4506.78525879 4537.19954105 4564.42367254 4815.6686652
 4371.18358541 4289.10189926 4711.59378778 4324.55608117]